@import url("https://gxfs11.github.io/jsCalcu/estilo.css");
:root { --espacito: 10px; }
label {
	font: italic 26px var(--ttl);
	padding-right: var(--espacito);
}
.txt {
	font: 18px var(--txt);
	background-color: #252525;
	border: solid 1px black; 
	border-radius: 4px;
}
.fullW  { width: 99vw; }
.centrados {
	align-items: center;
	justify-content: center;
}
.espaciadoEx { margin: 0 var(--espacio) var(--espacio); }
	.espXi { margin-left: var(--espacito); }
	.espXd { margin-right: var(--espacito); }
.espaciadoExG { margin: 0 var(--espaciote) var(--espaciote); }
.ico {
	height: 18px; width: 18px;
}
	.i {
		float: left;
	}
	.d {
		float: right;
	}